<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
<!-- Removing references to the gravatar since the base load won't need to manage profile pics
        <%= gravatar_for @user %>
-->
        <%= @user.name %></br></br>
      </h1>
	  
	  <%= display_role_links(@user.role) %>

    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
	  <strong>Email</strong> <%= @user.email %><br />
	  <strong>Admin?</strong> <%= current_user.admin %><br />
	  <strong>Role</strong>	  
                           <%=
                             case @user.role
                               when 1 then "Requestor"
                               when 2 then "Supplier"
                               when 3 then "Requestor/Supplier"
                             else "This user's ROLE is not set" 
                             end
                           %>
<br />	  
	  
    </td>
  </tr>
</table>