<h1>Listing orders</h1>

<mntx class="round">

<table>
  <tr>
    <th>Order</th>
    <th>Job title</th>
    <th>Job type</th>
    <th>Start date</th>
    <th>Location</th>
    <th>Positions filled/max</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.order_id %></td>
    <td><%= order.job_title %></td>
    <td><%= order.job_type %></td>
    <td><%= order.start_date %></td>
    <td><%= order.location %></td>
    <% if order.positions_filled.nil? %>
      <td>0 / <%= order.position_max %></td>
    <% else %>
      <td><%= order.positions_filled %> / <%= order.position_max %></td>
	<% end %>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>

<% end %>
</table>

</mntx>
<br />

<%= link_to 'New Order', new_order_path %>
